table.vrcalendar { font-family:"arial","helvetica"; font-size:10pt; text-align:center; border:none; background-color:gray}
tr.vrcalendarrow { font-family:"arial","helvetica"; font-size:10pt; text-align:center; border:none;}
td.vrcalendarcol { font-family:"arial","helvetica"; font-size:10pt; text-align:center; border:none; padding:5px;}
table.month { border:none; text-align:center; margin:0; font-size:12pt;}
tr.monthrow { border:none;}
td.monthheader { border:none; text-align:center; padding:0px; color:black; background-color:#9dbcd2; font-size:12pt; }
td.dayheader   { border:none; text-align:center; padding:0px; color:black; background-color:#d0d0ff; font-size:10pt; }
td.padday      { border:none; text-align:center; padding:0px; color:black; background-color:#b0b0b0}
td.spaceday    { border:none; text-align:center; padding:0px; background-color:gray }
td.availablenight, span.availablenight {  border:none; text-align:center; padding:0px; color:black; background-color:white;  font-size:12pt;  width:35px}
td.unavailablenight, span.unavailablenight { border:none; text-align:center; padding:0px; color:black; background-color:red; font-size:12pt;  width:35px}
.unavailablenight.unavailablenight_not_full{ background-color: orange;}
td.unavailablefirstnight {  text-align:center; padding:0px;
  font-weight:bold;  color:black; background-color:#C51A4A; border:none; font-size:12pt; width:35px}
.popup { background-color:#9dbcd2;  position:fixed; top:100px; left:100px;   margin:10px; padding:20px;}
