
.avcal_last_free{
	background-image: -moz-linear-gradient(-45deg, white 0%, white 50%, rgba(255,0,0,0) 51%, rgba(255,0,0,0) 100%); /* FF3.6-15 */
	background-image: -webkit-linear-gradient(-45deg, white 0%,white 50%,rgba(255,0,0,0) 51%,rergba(255,0,0,0)d 100%); /* Chrome10-25,Safari5.1-6 */
	background-image: linear-gradient(135deg, white 0%,white 50%,rgba(255,0,0,0) 51%,rgba(255,0,0,0) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='white', endColorstr='rgba(255,0,0,0)',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
}
.avcal_last_partly{ 
	background-image: -moz-linear-gradient(-45deg, orange 0%, orange 50%, rgba(0,0,0,0) 51%, rgba(255,0,0,0) 100%); /* FF3.6-15 */
	background-image: -webkit-linear-gradient(-45deg, orange 0%,orange 50%,rgba(255,0,0,0) 51%,rgba(255,0,0,0) 100%); /* Chrome10-25,Safari5.1-6 */
	background-image: linear-gradient(135deg, orange 0%,orange 50%,rgba(255,0,0,0) 51%,rgba(255,0,0,0) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='orange', endColorstr='rgba(255,0,0,0)',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
}
.avcal_last_full{ 
	background-image: -moz-linear-gradient(-45deg, red 0%, red 50%, rgba(255,0,0,0) 51%, rgba(255,0,0,0) 100%); /* FF3.6-15 */
	background-image: -webkit-linear-gradient(-45deg, red 0%,red 50%,rgba(255,0,0,0) 51%,rgba(255,0,0,0) 100%); /* Chrome10-25,Safari5.1-6 */
	background-image: linear-gradient(135deg, red 0%,red 50%,rgba(255,0,0,0) 51%,rgba(255,0,0,0) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='red', endColorstr='rgba(255,0,0,0)',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
}
